<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ site.data.static.title }}</title>


	<link rel="apple-touch-icon" sizes="57x57" href="/dist/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/dist/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/dist/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/dist/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/dist/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/dist/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/dist/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/dist/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/dist/icons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/dist/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/dist/icons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/dist/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/dist/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/dist/icons/manifest.json">
	<link rel="mask-icon" href="/dist/icons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#fcfcfc">
	<meta name="msapplication-TileImage" content="/dist/icons/mstile-144x144.png">
	<meta name="theme-color" content="#fcfcfc">


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


</head>

<body>

<div id="app"></div>

