.container {
}

.inner {
    padding: 15px;
    margin-bottom: 125px;
}

.floatingInner {
    margin: 0 auto;
    max-width: 850px;
}

.header {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.headerText {
    width: 100px;
    margin: 15px auto 0 30%;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #fff;
}

.gradient {
    background: white;
    padding-top: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms, visibility 400ms;
}

.hidden {
    composes: gradient;
    opacity: 0;
    visibility: hidden;
}