.container {
}

.inner {
    padding: 15px;
    margin-bottom: 125px;
}

.floatingInner {
    margin: 0 auto;
    max-width: 850px;
}

.floatingContent {
    background: linear-gradient(to bottom, rgba(255,255,255, 1) 50%,rgba(255,255,255,0.5) 100%);
    padding-top: 25px;
}

.floatingWrapper {
    background: rgba(255,255,255,0.5);
}


.header {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.headerText {
    width: 100px;
    margin: 15px auto 0 30%;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Railway", sans-serif;
    font-weight: normal;
    color: #fff;
}

.gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 850px;
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity 400ms, visibility 400ms;
    -webkit-transition: opacity 400ms, visibility 400ms;
    transition: opacity 400ms, visibility 400ms;
}

.fade {
    height: 1px;
    background: rgba(0,0,0,0.1);
}

.hidden {
    composes: gradient;
    opacity: 0;
    visibility: hidden;
}

.bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: center center no-repeat #46554b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bg:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    opacity: 0.05;
}

.codeMentorWrapper {
    text-align: center;
    padding: 25px 15px 0 15px;
}

.codeMentor {
    display: inline-block;
}

@media only screen and (min-width: 1000px) {
    .bg {
        background-image: url('/dist/images/1.2048_mini.jpg') !important;
    }
}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 560px) {
    .floatingContent {
        padding-top: 0;
    }
}