.container {
    composes: container from './Section.css';
}

.inner {
    composes: cf from '../general.css';
    margin: 15px auto 0 30%;
}

.content {
    margin-right: 120px;
}

.icon {
    width: 60px;
}

.blurb {
    width: 70%;
    max-width: 400px;
    padding-left: 40px;
    margin: 0;
    float: left;
}

.avatarContainer {
    float: left;
    max-width: 100px;
}