.container {
    composes: cf from '../general.css';
    margin-right: 100px;
}

.content {
    margin-left: 30%;
}

.inner {
    width: 285px;
    float: left;
    padding-top: 10px;
}

.avatar {
    composes: container from './Avatar.css';
    float: left;
    margin-right: 15px;
    margin-bottom: 25px;
    height: 100px;

}

.socials {
    float: left;
}

.link {
    composes: cf from '../general.css';
    float: left;
    margin: 0 15px 15px 0;
}

.icon {
    float: left;
    width: 30px;
    margin-right: 10px;
}

.label {
    line-height: 31px;
    float: left;
    font-size: 15px;
}