.container {
    composes: cf from '../general.css';
    margin-right: 100px;
}

.content {
    composes: cf from '../general.css';
    margin-left: 30%;
}

.inner {
    width: 305px;
    padding-top: 6px;
    padding-left: 15px;
    float: left;
}

.avatar {
    composes: container from './Avatar.css';
    height: 100px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: -3px;
    float: left;
}

.socials {
    float: left;
}

.link {
    composes: cf from '../general.css';
    margin: 0 15px 15px 0;
    min-width: 100px;
    opacity: 0.85;
    color: #333;
    float: left;

}

.link:hover {
    opacity: 1;
    color: #00ABD6;
}

.link:hover .label {
    opacity: 1;
}

.iconContainer {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0 8px;
    margin-right: 7px;
    line-height: 4.4rem;
    float: left;
    background: blue;
    border-radius: 50%;
}

.icon {
    height: 100%;
}

.label {
    float: left;
    font-size: 1.3rem;
    font-family: "Railway", sans-serif;
    text-transform: uppercase;
    line-height: 3.1rem;
    opacity: 9;
}


@media only screen and (max-width: 750px) {

    .avatar {
        display: none;
    }

    .container {
        margin-right: 0;
    }

    .content {
        padding-bottom: 5px;
        margin-left: 0;
    }

    .inner {
        margin: 0 auto;
        padding-left: 0;
        float: none;
    }
}

@media only screen and (max-width: 560px) {

    .content {
        padding-bottom: 0;
    }

    .link {
        margin-bottom: 0;
        padding-bottom: 6px;
    }

    .blurb {
        padding: 15px;
        margin: 0 auto;
        float: none;
        max-width: none;
        width: 100%;
    }


}

@media only screen and (max-width: 370px) {
    .socials {
        padding: 0 30px;
    }

    .link {
        float: none;
        display: block;
        min-width: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .label {
        font-size: 1.2rem;
        line-height: 3rem;
    }

    .iconContainer {
        width: 30px;
        height: 30px;
        padding: 0 7px;
        line-height: 3.6rem;

    }
}
