.container {
    composes: cf from '../general.css';
    display: block;
    line-height: 2.4rem;
    margin-bottom: 8px;
    font-size: 1.75rem;
}

.link {
    display: block;
    float: left;
    width: 30%;
    padding: 0;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blurb {
    display: block;
    float: left;
    width: 70%;
    padding: 0 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 350px) {
    .container {
        margin-bottom: 16px;
    }

    .link {
        width: 100%;
        text-align: left;
    }

    .blurb {
        width: 100%;
        padding: 0;
    }
}