<!DOCTYPE html>
<html>


<body>


</body>


<script>
    console.log(' \
           ▄▄▀▀▀▀▀▀▀▀▀▄▄             \n \
████▄   ▄█▀             ▀▀▄   ▄▄███▀ \n \
   ▀████▌                  ████▀▀    \n \
      █▀███▄▄          ▄████▀▌       \n \
     █    ▀▀███▄▄▄▄▄████▀    █       \n \
     █        ▀██████▀       ▐▌      \n \
     █         ▀███▀         ▐       \n \
     ▐▌         ▐██          █       \n \
      ▐█        ▐██        ▄█        \n \
        ▀▄      ▐██       █▀         \n \
          ▀▀▄▄  ▐██   ▄▄▀            \n \
              ▀▀▐██▀▀                \n \
                ▐██                  \n \
                ▐██                  \n \
                ▐██                  \
');
</script>
</html>